<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Owners Index Page</title>
  <link rel="shortcut icon" type="image/ico" th:href="@{../../icon.ico}"/>
</head>
<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->
  <h1 th:text="'List of Owners'"></h1>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="owner : ${owners}">
        <th th:text="${owner?.id}"></th>
        <th th:text="${owner?.firstName}"></th>
        <th th:text="${owner?.lastName}"></th>
      </tr>
    </tbody>
  </table>
</body>
</html>