<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}"
>
<head>
    <meta charset="UTF-8">
    <title>Vets Index Page</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{../../icon.ico}"/>
</head>
<body>
<!--/*@thymesVar id="vet" type="guru.springframework.sfgpetclinic.model.Vet"*/-->
    <h1 th:text="'List of Vets'"></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vet : ${vets}">
                <th th:text="${vet?.id}"></th>
                <th th:text="${vet?.firstName}"></th>
                <th th:text="${vet?.lastName}"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>